<%= generate_title("About Me", "about_me").html_safe() %>
<span>
    <%= image_tag("connorImage.jpg", class: "border rounded-circle")%>
</span>

<p class="text-justify mx-5">
    I am a Software Engineer/full stack web developer currently working at 
    Schweitzer Engineering Laboratories. I am interested in a new job where I 
    can continue to develop my skills as a full stack engineer. Some of my best 
    skills include my dedication to quality work, ability to quickly self
    educate on projects, honesty when I see something wrong, and flexibility 
    when asked to do tasks outside of my experience. I hope you find me a 
    suitable candidate! Feel free to contact me for questions and 
    clarifications. 
</p>