<%= generate_title("About Me", "about_me").html_safe() %>
<span class="border border-warning">
    <p>
        asdfasdfasfd
    </p>
</span>
<span class="border-top">
    <%= image_tag("connorImage.jpg", class: "rounded-circle")%>
</span>

<p>
    Placehoder
    Placehoder
    Placehoder
    Placehoder
    PlacehoderPlacehoder
    Placehoder
    Placehoder
    Placehoder
    Placehoder
    Placehoder
    Placehoder
    Placehoder
</p>