<%= generate_title("About Me", "about_me").html_safe() %>
<span>
    <%= image_tag("connorImage.jpg", class: "border rounded-circle")%>
</span>

<p class="text-justify mx-5">
    I am a Software Engineer currently working for Schweitzer Engineering Laboratories.
    My work currently involves coloberating with my team and on a C# application. I am 
    beginig to develop skills in web technologies including a .NET web application using
    react, node and jquery. 
</p>