<%= generate_title("Experience", "experience").html_safe() %>

<p class="text-justify mx-5">
    I am currently working for Schweitzer Engineering Laboratories as an Associate
    Software Engineer. I interned for SEL 2 years before accepting my full time position.
    Before that I was a student at Washington State University where I recived my Bachelors
    of Science in Computer Science. 
</p>