<%= generate_title("Experience", "experience").html_safe() %>
<div class="mx-5">
    <p class="text-justify">
        I have been working at Schweitzer Engineering Laboratories for 3 years.
        While pursuing my degree at WSU I interned for SEL 2 years then accepted 
        my full time position. My responsibilities include working on Architect
        (a C# application). Maintaining tests and CI/CD pipeline for the 
        application. Documenting bugs and improvements to be made to SEL software. 
        Planning and estimating time for tasks. Working with my team and exchanging
        information. Listening to stakeholders about what changes to make to 
        SEL software. Training new members on the project.
        
    </p>
    
    <h2 class="text-justify"> Standout Experiences </h2>
    
    <p class="text-justify">
        During my time at SEL I was tasked with creating a CI pipeline for
        legacy tests run on TestComplete. The legacy tests were slow and
        required manual overhead. This meant they were only run at the end of
        the project. The CI pipeline would give the team a smaller feedback 
        loop for these legacy tests. Tighter feedback loops meant we could
        correct errors in Architect or the legacy tests before last minute. 
        Buggy tests would also be revealed and targeted for removal. 
    </p>
    
    <p class="text-justify">
        When I received this task I had some experience with pipelines but not 
        with the tech stack in use for modern tests. There was a lot of learning
        before I began actual development on the CI pipeline. I studied the
        existing stack, familiarised myself with the documentation of the 
        technologies, and asked coworkers who had developed the existing 
        infrastructure questions. Even as I started there were many unknown 
        unknowns. I had to refer frequently to documentation and existing 
        infrastructure. Occasionally I would get stuck and have to contact 
        a fellow teammate to brainstorm what might have gone wrong. 
    </p>
    
    <p class="text-justify">
        I learned a lot from that task. It taught me how to approach problems 
        that were out of my comfort zone. What I needed to prepare to start a
        task like that. And when to ask for help.
    </p>
</div>
