<%= generate_title("Projects", "projects").html_safe() %>
<div class= "mx-5">
    <p class="text-justify">
        Here is a sample of projects I have worked on. Other projects are avalable on my github.
        The ones I have listed below are good examples of my work. 
    </p>
    
    <h2 class="text-justify"> 
        <%= link_to('Resume-App', 
                    'https://github.com/connor-wright/resume-app', target: :_blank)
        %>
    </h2>
    <p class="text-justify">
        The goal of this project was to have a platform for recruters to easily acess.
        They can see my skills and abilities in a real world project and be able to contact me.
        This is a ruby on rails application hosted on heroku with a CI/CD pipeline on github. 
        The application is static but it does showcase my abilities with bootstrap html and css
        as well as some javascript.
    </p>
    
    <h2 class="text-justify">
        <%= link_to 'Sticker App', 
                    "https://github.com/connor-wright/StickerApp",
                    target: :_blank 
        %>
    </h2>
    <p class="text-justify">
        The Sticker App was desinged with a very simple goal in mind. 
        Be a place for users to put stickers that persist. This applicaiton Is currently
        a WIP. I wanted to test my abilites with 
        Rails, React and Postgresql. I mapped out applicaiton from
        the begining. There is WIP, Polish, and Streach goals. Currently it has
        CI/CD capabilites and is hosted on Heroku. Im hoping the project becomes 
        something I come back to every once in a while as I gain new skills. 
    </p>
</div>
