<%= generate_title("Projects", "projects").html_safe() %>
<p class="text-justify mx-5">
    If you look to the top right hand of the webpage you can see the links to my Github and the source
    code for this website. Feel free to browse them but Ill breifly give a summary of each project here
    and direct links.
</p>