<%= generate_title("Skills", "skills").html_safe() %>
<div class="mx-5">
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>
                <p>
                    * I have completed several projects using this language or technology. 
                    I am familiar with almost all of the features of the technology/language. 
                    I can confidently jump into a new project using these items and quickly learn
                    enough to meaninglyfully contribute. 
                </p>
                <p>
                    ** I have completed at least one project using this language or technology. 
                    I am familiar with the majority of the features in these items. I can read
                    documentation/examples online to quickly get up to date on new projects.  
                </p>
                <p>
                    *** I have used this language or technology at least once. I know the some of the 
                    core features of the item. I need to reintroduce myself to the item to contribute
                    to projects moving forward. NEED TO REWORD IN POSITIVE FORMAT
                </p>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Skill Level</th>
                    <th scope="col">Programing Languages</th>
                    <th scope="col">Technologies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Experienced *</th>
                    <td>
                        <ul class="text-left my-1">
                            <li> C#  </li>
                            <li> Cake  </li>
                            <li> Python </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="text-left my-1">
                            <li> Git  </li>
                            <li> Github </li>
                            <li> Bamboo </li>
                            <li> Nunit </li>
                            <li> NuGet </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Knowledgeable **</th>
                    <td>
                        <ul class="text-left my-1">
                            <li> C  </li>
                            <li> C++ </li>
                            <li> Ruby </li>
                            <li> Java </li>
                            <li> Javascript/HTML/CSS </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="text-left my-1">
                            <li> AWS  </li>
                            <li> GitLab </li>
                            <li> Bootstrap </li>
                            <li> Jira </li>
                            <li> Bitbucket </li>
                            <li> DigitalOcean </li>
                            <li> Heroku </li>
                            <li> MySQL </li>
                            <li> TestComplete </li>
                            <li> Ruby on Rails </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Some Experience ***</th>
                    <td>
                        <ul class="text-left my-1">
                            <li> SQL </li>
                            <li> Powershell </li>
                            <li> Bash </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="text-left my-1">
                            <li> MongoDB </li>
                            <li> PostgreSQL </li>
                            <li> Microsoft Azure </li>
                            <li> Node.js </li>
                            <li> jQuery </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>