<div class="container-main bg-light d-flex flex-column">
    <div class="container-center bg-white flex-grow-1 padding-top-70px align-self-center">
        <%= render 'layouts/mainpage/about_me' %>
        <%= render 'layouts/mainpage/experience' %>
        <%= render 'layouts/mainpage/skills' %>
        <%= render 'layouts/mainpage/projects' %>
    </div>
</div>