<div class="h-100 container-main bg-light d-flex flex-column">
    <div class="container-center 
                bg-white flex-grow-1 
                padding-top-70px
                padding-bottom-20px
                align-self-center">
        <%= render 'layouts/mainpage/about_me' %>
        <%= render 'layouts/mainpage/experience' %>
        <%= render 'layouts/mainpage/skills' %>
        <%= render 'layouts/mainpage/projects' %>
    </div>
    <div id="modal-window" 
        class="modal hide fade" 
        role="dialog" 
        aria-labelledby="myModalLabel" 
        aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
</div>