<div class="container-main">
    <div class="container-center">
        <%= render 'layouts/mainpage/about_me' %>
        <%= render 'layouts/mainpage/experience' %>
        <%= render 'layouts/mainpage/skills' %>
        <%= render 'layouts/mainpage/projects' %>
    </div>
</div>