@import "~bootstrap/scss/bootstrap";
/*colors*/
$color-header:   #3377ff;
$color-black:    #000000;

/* universal */
.padding-top-70px{
    padding-top: 70px;
}

.padding-top-315px{
    padding-top: 315px;
}

body {
    //height: 100vh;
    
    .container-center{
        //height: 100vh;
        width: 85%;
        display: inline-block;
    }
    .container-main
    {
        height: 100vh;
        text-align: center;
    }
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center {
    margin-bottom: 10px;
}

/*skill grid*/
.container{
    h2{
        color: #000000;
        //margin-top: 10px !important;
        //margin-bottom: 10px !important;
    }
    .axis{
        background: #BEBEBE;
    }
}

/* typeography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}