<div class="contact_me_modal">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Contact Me</h4>
    <button type="button" class="close" data-dismiss="modal">x</button>
  </div>
  <div class="modal-body">
    <p>Email:    connor.d.wright1996@gmail.com</p>
    <p><%= link_to "Github", "https://github.com/connor-wright", target: :_blank %></p>
    <p><%= link_to "Linkedin", 
                   "https://www.linkedin.com/in/connor-wright-562561157/", 
                   target: :_blank %>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal">OK</button>
  </div>
</div>