<div class="contact_me_modal">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Contact Me</h4>
    <button type="button" class="close" data-dismiss="modal">x</button>
  </div>
  <div class="modal-body">
    <textarea id="email">Email: connor.d.wright1996@gmail.com</div>
    <button class="clipboard-btn btn btn-secondary email-clipboard-btn" 
            data-clipboard-action="copy",
            data-clipboard-target="#email">
      Copy to clipboard
      </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Send</button>
  </div>
</div>