<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Connor Wright", root_path, id: "logo" %>
        <%= link_to "Github", "https://github.com/connor-wright", id: "logo" %>
    </div>
</header>